@page "/"

@using MyBlog.Data.Interfaces
@using MyBlog.Data.Models
@using MyBlog.Data.Seeder
@using MyBlogServerSide.Components
@inject IMyBlogApi api

@code{

    protected ElementReference addAlert;
    
    protected enum Sort
    {
        Ascending,
        Descending
    }

    protected List<BlogPost> posts = new List<BlogPost>();

    protected Sort Sorter = Sort.Ascending;

    protected int numOfPosts = 0;

    protected string AlertMessage = "";
    
   

    protected async Task AddSomePosts()
    {
        int r = new Random().Next(1, 10);
        
        for (var i = 0; i < r; i++)
        {
            await api.SaveBlogPostAsync(BlogPostFactory.Create());
        }

        AlertMessage = $@"{r} posts created!";

        await OnInitializedAsync();
        
        await addAlert.FocusAsync();
    }

    protected void ClickClear()
    {
        AlertMessage = String.Empty;
    }

    protected async Task DeletePost(BlogPost p)
    {
        await api.DeleteBlogPostAsync(p);
        await OnInitializedAsync();
    }

    private void SortPosts()
    {
        Sorter = GetSorter();
        posts = Sorter == Sort.Ascending ? posts.OrderBy(x => x.Id).ToList() : posts.OrderByDescending(x => x.Id).ToList();
    }

    protected Sort GetSorter()
    {
        return Sorter == Sort.Ascending ? Sort.Descending : Sort.Ascending;
    }

    protected override async Task OnInitializedAsync()
    {
        numOfPosts = await api.GetBlogPostCountAsync();
        posts = await api.GetBlogPostsAsync(numOfPosts, 0);
        await base.OnInitializedAsync();
    }

}

<PageTitle>Index</PageTitle>


<div>
    <p>Num of Posts: @numOfPosts</p>
</div>
<div>
    <div>
        <button class="btn btn-danger" @onclick="AddSomePosts">Add some fake posts</button>
        <button class="btn btn-info" @onclick="SortPosts">Sort @GetSorter().ToString()</button>
    </div>
    
    <br/>

    <div @ref="addAlert">
    @if (!string.IsNullOrEmpty(AlertMessage))
    {
        <Alert Style="Alert.AlertStyle.Success">
            <ChildContent>
                <div>
                    <p>@AlertMessage</p>
                    <button class="btn btn-dark" @onclick="() => ClickClear()">X</button>
                </div>
               
            </ChildContent>
        </Alert>
    }
    </div>

</div>
<br />

<div>
    @foreach (var p in posts)
    {
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title"><b>#@p.Id</b> | <i>@p.Title</i></h5>
                <p class="card-text">@p.Text</p>
                <button class="btn btn-danger" @onclick="() => DeletePost(p)">Delete</button>
            </div>
        </div>
        <br />
        <hr />
        <br />
    }
    
</div>

